.main-bg {
  height: 100px;
  size: 20px;
  width: 200px;
  margin: left;
  background-image: url("/public/images/logo.png");
  background-size: cover;
  background-position: left;
}

.product-img {
  width: 100px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  background-image: url("/public/images/duck.jpg");
  background-size: 100px;
  background-position: left;
}

/* 결제박스 */
.right-box {
  width: 300px;
  height: 200px;
  background-color: #c0aeae;
  border: 1px solid #0a0a0a;
  margin-left: auto;
  margin-right: 0;
}
